<?xml version="1.0"?>
<config>
	<modules>
		<Ligrila_Bancomer>
			<version>0.1</version>
		</Ligrila_Bancomer>
	</modules>
	<global>
		<!-- VER PARA MULTISHIPPING-->
		<!--
		<rewrite>
			<bancomer>
				<from><![CDATA[#^/checkout/multishipping/overviewPost/$#]]></from>
				<to>/bancomer/multishipping_overview</to>
			</bancomer>
		</rewrite>
		-->
#
        <models>
<!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <bancomer>
<!-- base class name for the model group -->
                <class>Ligrila_Bancomer_Model</class>
		<resourceModel>bancomer_mysql4</resourceModel>
            </bancomer>
        </models>

		<resources>
			<bancomer_setup>
			<setup>
			<!-- which module to look for install/upgrade files in -->
				<module>Ligrila_Bancomer</module>
				<class>Ligrila_Bancomer_Model_Mysql4_Setup</class>
			</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</bancomer_setup>
			<bancomer_write>
				<connection>
					<use>core_write</use>
				</connection>
			</bancomer_write>
			<bancomer_read>
				<connection>
					<use>core_read</use>
				</connection>
			</bancomer_read>
		</resources>
		<blocks>
			<bancomer><class>Ligrila_Bancomer_Block</class></bancomer>
		</blocks>
		<helpers>
		<bancomer>
			<class>Ligrila_Bancomer_Helper</class>
		</bancomer>
		</helpers>
	</global>

	<frontend>
		<secure_url>
			<bancomer>/bancomer/standard</bancomer>
		</secure_url>
		<routers>
			<bancomer>
				<use>standard</use>
				<args>
					<module>Ligrila_Bancomer</module>
					<frontName>bancomer</frontName>
				</args>
			</bancomer>
		</routers>
		<translate>
			<modules>
				<Ligrila_Bancomer>
					<files>
						<default>Ligrila_PaymentBancomer.csv</default>
					</files>
				</Ligrila_Bancomer>
			</modules>
		</translate>
		<layout>
			 <updates>
				  <bancomer_redirect>
						<file>bancomer.xml</file>
				  </bancomer_redirect>
			 </updates>
		</layout>
	</frontend>

	<adminhtml>
		<translate>
			<modules>
				<Ligrila_Bancomer>
					<files>
						<default>Ligrila_PaymentBancomer.csv</default>
					</files>
				</Ligrila_Bancomer>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<bancomer>
											<title>Bancomer Section</title>
										</bancomer>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>

	<default>
		<payment>
			<bancomer>
				<active>1</active>
				<model>bancomer/paymentMethod</model>
				<title>Bancomer</title>
				<allowspecific>0</allowspecific>
				<order_status>pending</order_status>
				<redirect_status>pending</redirect_status>
				<error_status>canceled</error_status>
				<sendmailorderconfirmation>1</sendmailorderconfirmation>
				<urlbancomer>1</urlbancomer>
				<autoinvoice>O</autoinvoice>
				<transaction_type>O</transaction_type>
				<signaturetype>1</signaturetype>
			</bancomer>
		</payment>
	</default>
</config>