<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
				<bancomer translate="label" module="bancomer">
					<label>Bancomer</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label" module="payment">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label" module="payment">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<allowspecific translate="label" module="payment">>
							<label>Payment from applicable countries</label>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>30</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</allowspecific>
						<specificcountry translate="label" module="payment">>
							<label>Payment from Specific countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>40</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</specificcountry>
						<autoinvoice translate="label">
							<label>Create invoices automatically</label>
							<frontend_type>select</frontend_type>
							<comment>Only if payment is made successfully</comment>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>41</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</autoinvoice>
						<order_status translate="label" module="payment">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>45</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</order_status>
						<redirect_status translate="label">
							<label>Entring bancomer order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>46</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</redirect_status>
						<error_status translate="label">
							<label>Canceled order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>47</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</error_status>
						<terminal_id  translate="label">
							<label>Terminal Id </label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</terminal_id>
						<comercio_id  translate="label">
							<label>Business Id</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</comercio_id>
						<clave  translate="label">
							<label>API Password</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</clave>
						<windowstate translate="label">
							<label>Window State</label>
							<frontend_type>select</frontend_type>
							<source_model>bancomer/system_config_source_windowstate</source_model>
							<sort_order>130</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</windowstate>
						<sendmailorderconfirmation translate="label">
							<label>Send Email Order Confirmation</label>
							<frontend_type>Select</frontend_type>
							<sort_order>71</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sendmailorderconfirmation>
					</fields>
				</bancomer>
			</groups>
		</payment>
	</sections>
</config>
